
<%= image_tag 'books-background.jpg', height: 1000, :style => "position: absolute; top: 9%; right: 0%; " %>


<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner" style="box-shadow: 0 10px 5px 10px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
    <div class="carousel-item active">
    <%= image_tag 'anticipated-books.png', height: 750 %>
    </div>
    <div class="carousel-item">
    <%= image_tag 'best-selection.jpg', height: 750 %>
    </div>
    <div class="carousel-item">
    <%= image_tag 'new-releases.jpg', height: 750 %>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
